<h1>Store</h1>

{{#each products as |product|}}
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <image class="card-text" src="{{product.image}}" alt="product - image">
       <a href="/products/{{product.id}}">See details</a>
    </div>
 </div>
{{/each}}